In [5]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/jonahwilliams/Documents/SFPD.csv')

In [3]:
df.head()

,Category,Descript,Date,Time,PdDistrict,Resolution,X,Y
0,OTHER OFFENSES,TRAFFIC VIOLATION,9/21/15,23:36,NORTHERN,"ARREST, BOOKED",-122.433407,37.778423
1,NON-CRIMINAL,"LICENSE PLATE, RECOVERED",9/21/15,23:36,NORTHERN,"ARREST, BOOKED",-122.433407,37.778423
2,LARCENY/THEFT,GRAND THEFT BICYCLE,9/21/15,23:20,NORTHERN,NONE,-122.432952,37.805052
3,PROSTITUTION,LOITERING FOR PURPOSE OF PROSTITUTION,9/21/15,23:20,TENDERLOIN,"ARREST, BOOKED",-122.408202,37.786885
4,ASSAULT,INFLICT INJURY ON COHABITEE,9/21/15,23:03,MISSION,"ARREST, BOOKED",-122.419729,37.748221

In [9]:
df['Category'] = df['Category'].map(lambda x: x.replace(',',' '))
df['Resolution'] = df['Resolution'].map(lambda x: x.replace(',',' '))
df['Descript'] = df['Descript'].map(lambda x: x.replace(',',' '))

In [14]:
df['UTC'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

In [16]:
df = df.drop(['Date', 'Time'], axis=1)

In [17]:
df.head()

,Category,Descript,PdDistrict,Resolution,X,Y,UTC
0,OTHER OFFENSES,TRAFFIC VIOLATION,NORTHERN,ARREST BOOKED,-122.433407,37.778423,2015-09-21 23:36:00
1,NON-CRIMINAL,LICENSE PLATE RECOVERED,NORTHERN,ARREST BOOKED,-122.433407,37.778423,2015-09-21 23:36:00
2,LARCENY/THEFT,GRAND THEFT BICYCLE,NORTHERN,NONE,-122.432952,37.805052,2015-09-21 23:20:00
3,PROSTITUTION,LOITERING FOR PURPOSE OF PROSTITUTION,TENDERLOIN,ARREST BOOKED,-122.408202,37.786885,2015-09-21 23:20:00
4,ASSAULT,INFLICT INJURY ON COHABITEE,MISSION,ARREST BOOKED,-122.419729,37.748221,2015-09-21 23:03:00